/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

.btn.super-large{font-size:15px;line-height:normal;padding:9px 14px 9px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}


#countDownTimer{
	margin-bottom:50px;
}
 
.user-actions{
	background-color:#f5f5f5;margin-bottom:30px;padding:30px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
}

#main-description{
	background-color:black;margin-bottom:30px;padding:30px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;	
}

#main-description p{
	color:white;
}

#current-price{
	text-align:center;
}


/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}
	
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}