<div id="vouchers" class="accordion" style="padding-top: 25px; padding-bottom:25px;">
	<ol style="list-style-type:none;">
        <li>
            <h2><span>Pending Deals</span></h2>
            <div id="pdeals">
            	PDEALS
            </div>
        </li>
        <li>
            <h2><span>Available Vouchers</span></h2>
            <div id="avouchers">
            	AVOUCHERS
            </div>
        </li>
        <li>
            <h2><span>Redeemed Deals</span></h2>
            <div id="rdeals">
            	RDEALS
            </div>
        </li>
    </ol>
</div>
<script>
$('#vouchers').liteAccordion({
    onActivate : function() {
        this.find('figcaption').fadeOut();
    },
    slideCallback : function() {    
        this.find('figcaption').fadeIn();
    },
    autoPlay : false,
    pauseOnHover : false,
    theme : 'basic',
    rounded : true,
    enumerateSlides : true             
}).find('figcaption:first').show();
</script>