<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
<p>Number of credits: <%= @user.credits %></p>

<p>Also put in the number of purchases he's made?</p>
<p>Most recent purchase?</p>
<p>Make this page look prettier</p>