<div id="pageHead"> </div>
<div class="two_column">
    <div class="left">
        <div class="content1">
            <h2>Who are we?</h2>
               <p>
                We are an entrepreneurial, motivated group of engineers from the University of California,
                 Berkeley who are looking to radically change the way deals are being offered.
                </p>


        </div>
    </div>
    <div class="right">
        <div class="content1">
        <h2>Why Mobstone?</h2>
        <p>
        We understand that as a retailer, your primary goal is to maximize revenue and exposure. With
        the help of Mobstone, you can advertise and sell your products using our unique business model.
        If you have questions about what Mobstone can do for your business,
          <a href="mailto:mobstonecorp@gmail.com">click here</a>.
        </p>
        </div>
    </div>
</div>
	</div>