<script>
  jQuery(document).ready(
    function() {
      milestone(0.30);
    }
  );
</script>

<div id="pageHead">
</div>
<div id="thermometer">
  <div id = "people">

  </div>
  <div id = "arrow" >

  </div>
  <div id= "arrow_people">
    <p>100</p>

  </div>
  <div class="right">
    <div class="milestone">
      Price: $30<br />
      People: 500
    </div>
    <div class="milestone">
      Price: $40<br />
      People: 300
    </div>
    <div class="milestone">
      Price: $50<br />
      People: 100
    </div>
  </div>
</div>